/Data
/packages
*.config

/diplom.server/diplom.library/bin
/diplom.server/diplom.library/obj
/diplom.server/diplom.library/Properties

/diplom.server/diplom.server/bin
/diplom.server/diplom.server/obj
/diplom.server/diplom.server/Properties

/Emulator

.vs